body{
	background-image: url("paper.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;   
}
#donostext{
	font-size: 25px;
}